/* Dashboard Container */
.dashboard-container {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
    margin-top: 20px; /* Add margin on the top */
  }
  
  .minimize-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .minimize-btn:hover {
    color: #ccc;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-menu li:hover {
    background-color: #002244;
  }
  
  /* Main Content */
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
  }
  
  .main-content h1 {
    margin-top: 0;
  }