.custom-img {
    width: 100%; /* Ensure the image scales to fit its container */
    max-width: 250px; /* Optional: Limit the maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Crop the image properly if necessary */
    border-radius: 10px;
}

.services-description {
    text-align: center;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 0 auto 20px; /* Center the container and add spacing below */
}

.services-description h2 {
    margin: 100px auto;
    font-size: 28px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}


.services-description p {
    font-size: 18px;
    color: #555;
    line-height: 1.5;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}
