.title{
    font-size: 32px;
    color: #000F38;
    margin-top: 100px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.history p{
    text-align: justify;
    color: #07020f;
    font-size: 20px;
    text-transform: none;
    margin: 30px 0 30px;
}

.history h2{
    text-align: none;
    font-size: 32px;
    color: #000F38;
    margin-top: 5px;
    font-weight: 600;
}

.aboutus-left h2{
    text-align: none;
    font-size: 32px;
    color: #000F38;
    margin-top: 60px;
    font-weight: 600;
}

.aboutus-left p{
    text-align: justify;
    color: #07020f;
    font-size: 20px;
    text-transform: none;
    margin: 30px 0 30px;
}

.aboutus-right h2{
    text-align: none;
    font-size: 32px;
    color: #000F38;
    margin-top: 5px;
    font-weight: 600;
}

.aboutus-right p{
    text-align: justify;
    color: #07020f;
    font-size: 20px;
    text-transform: none;
    margin: 30px 0 30px;
}