.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #fff;
    padding-top: 120px !important;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-links li {
    display: block;
    width: 100%; 
}


.sidebar-links li:hover {
    background-color: #34495e;
}