.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../assets/office1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: left;
}

.hero-text{
    text-align: left;
    max-width: 800px;

}

.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}

.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

.right-side{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    width: 500px;
    background: #fff;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #07020f;
    font-size: 30px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #07020f;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #07020f;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 50px auto;
}


.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    color: #fff;
    background: #07020f;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    z-index: 10;
}

.gray{
    background: #eaeaea;
    color: #676767;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
